[Unit]
Description=Setup of audio device on salvator-x
DefaultDependencies=yes
After=pretty-early.target
Before=audio-setup.target

[Service]
Type=oneshot
RemainAfterExit=yes

#-------------------- we start loading the modules here and wait for devices to appear ------
ExecStart=/bin/kmodule_loader -c /etc/alsa-brd-cfg/rcar3-salvator-x/kmodules_loader.conf

#-------------------- we are setting up the alsa devices ---------------
# - adapt this call in a way that loads it the settings from your
#   expected destination
ExecStart=/usr/sbin/alsactl restore gmdcard -f /etc/alsa-brd-cfg/rcar3-salvator-x/asound.state
