[Unit]
Description=Setup of audio device on x86-minnowmax
ConditionHost=tsd-minnowmax
After=pretty-early.target
Before=audio-setup.target

[Service]
Type=oneshot
RemainAfterExit=yes

#-------------------- we are deploy the common vad configuration -------
# - this call is ADIT internally used to provide a common set of
#   virtual devices on all targets 
ExecStart=/bin/mount --bind /etc/alsa-brd-cfg/x86-minnowmax/asound_board.conf /etc/asound_board.conf
